<section id="section-{{ section.id }}" class="hidden-phone">
<div class="main-label-container">
          <h2 class="title-style-1">{{section.settings.title}}</h2>
        <h3>{{section.settings.subheading}}</h3>
      <div class="main-label-subcontainer">
        <div class="display-label">
          {% if section.settings.image1 %}
          <div class="single-label">
          <img
          src="{{ section.settings.image1 | img_url: width }}" alt="" loading="lazy"           
          alt="Image 1"
          class="image"
        />
<p>{{ section.settings.image1_text }}</p>
          </div>
            {% endif %}
            {% if section.settings.image2 %}
          <div class="single-label">
          <img
          src="{{ section.settings.image2 | img_url: width }}" alt="" loading="lazy"           
          alt="Image 2"
          class="image"
        />
            <p>{{ section.settings.image2_text }}</p>
          </div>
          {% endif %}
              {% if section.settings.image3 %}
          <div class="single-label">
          <img
          src="{{ section.settings.image3 | img_url: width }}" alt="" loading="lazy"           
          alt="Image 3"
          class="image"
        />
            <p>
              {{ section.settings.image3_text }}
            </p>
          </div>
                {% endif %}
                {% if section.settings.image4 %}
          <div class="single-label">
          <img
          src="{{ section.settings.image4 | img_url: 'x200' }}" alt="" loading="lazy"           
          alt="Image 4"
          class="image"
        />
            <p>
              {{ section.settings.image4_text }}
            </p>
          </div>
             {% endif %}
        </div>
      </div>
              {%- if section.settings.button_1_text != blank %}
              <div class="SectionHeader__ButtonWrapper btn-decale-bottom">
                <div class="ButtonGroup ButtonGroup--spacingSmall">
                  {%- if section.settings.button_1_text != blank -%}
                    <a href="{{ section.settings.button_1_link }}" class="ButtonGroup__Item Button">{{ section.settings.button_1_text | escape }}</a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
    </div>
</section>
  
{% schema %}
  {
  "name": "Histoire Desktop Labels",
"settings": [
      {
  "type": "color",
  "id": "background",
  "label": "Background",
  "default": "#ffffff"
},
      {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
  {
      "type": "image_picker",
      "id": "image1",
      "label": "Image"
    },
    {
  	  "id": "image1_text",
  	  "type": "text",
  	  "label": "Description image 1"
	},
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image"
    },
    {
  	  "id": "image2_text",
  	  "type": "text",
  	  "label": "Description image 2"
	},
    {
      "type": "image_picker",
      "id": "image3",
      "label": "Image"
    },
    {
  	  "id": "image3_text",
  	  "type": "text",
  	  "label": "Description image 3"
	},
    {
      "type": "image_picker",
      "id": "image4",
      "label": "Image"
    },
    {
  	  "id": "image4_text",
  	  "type": "text",
  	  "label": "Description image 4"
	},
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Text Button"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Link Button"
    }
],
  "presets": [
      {
        "name": "Histoire Desktop Labels",
        "category": "Charly MUZIOTTI"
      }
    ]
  }
{% endschema %}

<style>
  #section-{{ section.id }} {
  background-color: {{ section.settings.background }};
  }

  .main-label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
  .main-label-container h2 {
    margin-top: -42px;
  }
.main-label-subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}
.display-label {
  display: flex;
  gap: 10px;
  width: 80%;
  flex-wrap: wrap;
}
.single-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 45%;
  margin: auto;
  max-height: 160px;
}
.single-label p {
  width: 60%;
  text-align: left;
}
header {
  margin-bottom: 0;
}
h3 {
  margin: 0;
  font-size: 1.5rem;
}
  .btn-decale-bottom {
    margin-bottom: -26px;
  }
  </style>

{% javascript %}
{% endjavascript %}