<section id="section-{{ section.id }}">
<div class="process-main-container">
         <div class="process-container">
      <div class="process-container-img">
        <img src="{{ section.settings.image | img_url: 'x800' }}" alt="{{ section.settings.image | escape }}">
      </div>
           <div id="curved-arrow-down">
           ⤴
           </div>
           <div class="process-txt-video-container">
           <div class="process-title-container">
                     <h2 class="title-style-1">{{section.settings.title}}</h2>
        <h3>{{section.settings.subheading}}</h3>
           </div>
      <div class="process-container-txt">
        <iframe width="560" height="315" src="{{ section.settings.video_url }}" id="placeholder-video-process" frameborder="0" allowfullscreen></iframe>
</div>
           </div>
    </div>
              {%- if section.settings.button_1_text != blank %}
              <div class="SectionHeader__ButtonWrapper">
                <div class="ButtonGroup ButtonGroup--spacingSmall">
                  {%- if section.settings.button_1_text != blank -%}
                    <a href="{{ section.settings.button_1_link }}" class="ButtonGroup__Item Button">{{ section.settings.button_1_text | escape }}</a>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
    </div>
</section>

    {% schema %}
      {
      "name": "Histoire - Process",
      "settings": [
        {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
              {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Sub-heading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
        {
  "type": "url",
  "id": "video_url",
  "label": "A Shopify-hosted video"
},
                {
          "type": "text",
          "id": "button_1_text",
          "label": "Text Button"
        },
        {
          "type": "url",
          "id": "button_1_link",
          "label": "Link Button"
        }
      ],
      "presets": [
          {
            "name": "Histoire - Process",
            "category": "Charly MUZIOTTI"      
          }
        ]
      }
      {% endschema %}

<style>

#section-{{ section.id }} {
          background-color: {{ section.settings.background }};
}

  .process-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0;
}

.process-main-container button {
  width: 10%;
  margin: auto;
}

.process-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}
  
  #curved-arrow-down {
    font-size: 7rem;
    position: absolute;
    rotate: 100deg;
    top: 10%;
    right: 46%;
}

.process-container-txt {
  text-align: center;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

  .process-container-txt h3 {
      margin: 0px;
    font-size: 1rem;
    margin-top: -60px;
  }

section h2 {
  text-align: center;
  margin: 0;
}
.Button {
  border: none !important;
  padding: 0.6rem 5rem;
  text-transform: unset;
  font-size: 1.5rem;
  font-family: customfont;
  letter-spacing: initial;
  color: #ffffff;
  margin-top: 4rem;
}
.Button::before {
  background-color: #233f41 !important;
  border-radius: 30px;
}
#placeholder-video-process {
  border-radius: 40px;
  width: 330px;
  height: 340px;
}

  .ytp-show-cards-title {
    display: none;
}

  @media screen and (max-width: 768px) {
    .histoire-title h2 {
      margin-top: 30px;
      width: 90%;
     }
    .display-label {
      width: 100%;
      flex-direction: column;
    }
    .process-container {
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
}
    .process-container-img {
    width: 60%; 
    margin-right: 18px;
}
    .process-container-txt {
    margin: 30px auto;

}
    #curved-arrow-down {
    top: 34%;
    font-size: 4.5rem;
    rotate: -110deg;
    transform: scaleX(-1);
    right: 15%;
    }
    .process-main-container .ButtonGroup {
      width: 100%;
      margin: auto !important;
    }
    .process-main-container .Button {
    font-size: 1.4rem;
    padding: 1rem 3rem;
}
    .process-title-container {
      width: 30%;
    }
    .process-title-container .title-style-1 {
    font-size: 1.8rem;
    width: 100%;
    text-align: left;
}

    .process-title-container h3 {
    font-size: 0.8rem;
}

    
  #placeholder-video-process {
    width: 280px;
    height: 290px;
}
  }
</style>

{% javascript %}
{% endjavascript %}