{%- capture section_settings -%}
{
  "enableHistoryState": true,
  "templateSuffix": {{ product.template_suffix | json }},
  "showInventoryQuantity": {{ section.settings.show_inventory_quantity | json }},
  "showSku": {{ section.settings.show_sku | json }},
  "stackProductImages": {{ section.settings.stack_images | json }},
  "showThumbnails": {{ section.settings.show_thumbnails | json }},
  "enableVideoLooping": {{ section.settings.enable_video_looping | json }},
  "inventoryQuantityThreshold": {{ section.settings.inventory_quantity_threshold }},
  "showPriceInButton": {{ section.settings.show_price_in_button | json }},
  "enableImageZoom": {{ section.settings.enable_image_zoom | json }},
  "showPaymentButton": {{ section.settings.show_payment_button | json }},
  "useAjaxCart": {% if settings.cart_type == 'drawer' %}true{% else %}false{% endif %}
}
{%- endcapture -%}

<section class="Product Product--{{ section.settings.image_size }}" data-section-id="{{ section.id }}" data-section-type="product" data-section-settings='{{ section_settings }}'>
  <div class="Product__Wrapper">
    {%- capture action_list_items -%}
      {%- if section.settings.enable_image_zoom -%}
        <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="open-product-zoom">{% render 'icon' with 'plus' %}</button>
        </div>

      {%- endif -%}

      {%- if section.settings.show_share_buttons -%}
        <div class="Product__ActionItem hidden-lap-and-up">
          <button class="RoundButton RoundButton--small RoundButton--flat" data-action="toggle-social-share" data-animate-bottom aria-expanded="false">
            <span class="RoundButton__PrimaryState">{% render 'icon' with 'share' %}</span>
            <span class="RoundButton__SecondaryState">{% render 'icon' with 'close' %}</span>
          </button>

          {%- assign share_url = shop.url | append: product.url -%}
          {%- assign twitter_text = product.title -%}
          {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
          {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

          <div class="Product__ShareList" aria-hidden="true">
            <a class="Product__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'facebook' -%} Facebook</a>
            <a class="Product__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener">{%- render 'icon' with 'pinterest' -%} Pinterest</a>
            <a class="Product__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener">{%- render 'icon' with 'twitter' -%} Twitter</a>
          </div>
        </div>
      {%- endif -%}
    {%- endcapture -%}

    {%- comment -%}
    --------------------------------------------------------------------------------------------------------------------
    PRODUCT GALLERY
    --------------------------------------------------------------------------------------------------------------------
    {%- endcomment -%}

    {%- assign initial_media_id = product.featured_media.id -%}
    {%- assign initial_media_index = 0 -%}
    {%- assign media_count = 0 -%}

    {%- capture slideshow_media -%}
      {%- for media in product.media -%}
        {%- if media.alt == 'featured' or media.alt == 'featured mobile' -%}
          {%- continue -%}
        {%- endif -%}

        {%- if product.selected_variant and media.id == product.selected_variant.featured_media.id -%}
          {%- assign initial_media_index = media_count -%}
          {%- assign initial_media_id = media.id -%}
        {%- endif -%}

        {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200,1400,1600', image: media -%}{%- endcapture -%}

        {%- case media.media_type -%}
          {%- when 'image' -%}
            <div id="Media{{ media.id }}" tabindex="0" class="Product__SlideItem Product__SlideItem--image Carousel__Cell {% if initial_media_id == media.id %}is-selected{% endif %}" data-media-type="image" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}" data-image-media-position="{% increment image_position %}">
              <div class="AspectRatio AspectRatio--withFallback" style="padding-bottom: {{ 100.0 | divided_by: media.aspect_ratio }}%; --aspect-ratio: {{ media.aspect_ratio }};">
                {% assign image_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

                <img class="Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" data-expand="-100" alt="{{ media.alt | escape }}" data-max-width="{{ media.width }}" data-max-height="{{ media.height }}" data-original-src="{{ media | img_url: 'master' }}">
                <span class="Image__Loader"></span>

                <noscript>
                  <img src="{{ media | img_url: '800x' }}" alt="{{ media.alt | escape }}">
                </noscript>
              </div>
            </div>

          {%- when 'external_video' -%}
            <div id="Media{{ media.id }}" tabindex="-1" class="Product__SlideItem Product__SlideItem--video Carousel__Cell {% if initial_media_id == media.id %}is-selected{% endif %}" data-media-type="external_video" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}" data-video-host="{{ media.host | escape }}" data-video-id="{{ media.external_id | escape }}">
              <div class="Image--lazyLoad Image--fadeIn" data-expand="-100">
                <div class="VideoWrapper">
                  {{- media | external_video_tag: image_size: '1024x' -}}
                </div>
              </div>
            </div>

          {%- when 'video' -%}
            <div id="Media{{ media.id }}" tabindex="-1" class="Product__SlideItem Product__SlideItem--video Carousel__Cell {% if initial_media_id == media.id %}is-selected{% endif %}" data-media-type="video" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}">
              <div class="Image--lazyLoad Image--fadeIn" data-expand="-100">
                <div class="VideoWrapper VideoWrapper--native" style="padding-bottom: {{ 100.0 | divided_by: media.aspect_ratio }}%">
                  {{- media | video_tag: image_size: '1024x', controls: true -}}
                </div>
              </div>
            </div>

          {%- when 'model' -%}
            <div id="Media{{ media.id }}" tabindex="-1" class="Product__SlideItem Product__SlideItem--model Carousel__Cell {% if initial_media_id == media.id %}is-selected{% endif %}" data-media-type="model" data-media-id="{{ media.id }}" data-media-position="{{ media.position }}">
              <div class="Image--lazyLoad Image--fadeIn" data-expand="-100">
                <div class="ModelWrapper">
                  {{- media | model_viewer_tag: image_size: '1024x', reveal: 'interaction', toggleable: true -}}
                </div>
              </div>
            </div>
        {%- endcase -%}

        {%- assign media_count = media_count | plus: 1 -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- if product.media.size > 0 -%}
      <div class="Product__Gallery {% if section.settings.stack_images %}Product__Gallery--stack{% endif %} {% if section.settings.show_thumbnails and media_count > 1 %}Product__Gallery--withThumbnails{% else %}Product__Gallery--withDots{% endif %}">
        <span id="ProductGallery" class="Anchor"></span>

        {%- if action_list_items != blank -%}
          <div class="Product__ActionList hidden-lap-and-up {% if product.media[initial_media_index].media_type != 'image' %}is-hidden{% endif %}">
            {{ action_list_items }}
          </div>
        {%- endif -%}

        {%- capture slideshow_nav -%}
          {%- if media_count > 1 -%}
            {%- if section.settings.show_thumbnails -%}
              <div class="Product__SlideshowNav Product__SlideshowNav--thumbnails">
                <div class="Product__SlideshowNavScroller">
                  {%- for media in product.media -%}
                    {%- if media.alt == 'featured' or media.alt == 'featured mobile' -%}
                      {%- continue -%}
                    {%- endif -%}

                    {%- capture nav_item_badge -%}
                      {%- case media.media_type -%}
                        {%- when 'model' -%}
                          <span class="Product__SlideshowNavBadge">{% render 'icon', icon: 'media-model-badge' %}</span>

                        {%- when 'video' or 'external_video' -%}
                          <span class="Product__SlideshowNavBadge">{% render 'icon', icon: 'media-video-badge' %}</span>
                      {%- endcase -%}
                    {%- endcapture -%}

                    {%- if section.settings.stack_images -%}
                      <a href="#Media{{ media.id }}" data-offset="-25" data-focus-on-click data-media-id="{{ media.id }}" class="Product__SlideshowNavImage AspectRatio {% if forloop.first %}is-selected{% endif %}" style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}">
                        <img src="{{ media | img_url: '160x' }}" alt="{{ media.alt | escape }}">
                        {{- nav_item_badge -}}
                      </a>
                    {%- else -%}
                      <a href="{{ media | img_url: '1024x' }}" data-media-id="{{ media.id }}" class="Product__SlideshowNavImage AspectRatio {% if forloop.first %}is-selected{% endif %}" style="--aspect-ratio: {{ media.preview_image.aspect_ratio }}">
                        <img src="{{ media | img_url: '160x' }}" alt="{{ media.alt | escape }}">
                        {{- nav_item_badge -}}
                      </a>
                    {%- endif -%}
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}

            {%- if section.settings.stack_images -%}
              <div class="Product__SlideshowNav Product__SlideshowNav--dots">
                <div class="Product__SlideshowNavScroller">
                  {%- for media in product.media -%}
                    {%- if media.alt == 'featured' or media.alt == 'featured mobile' -%}
                      {%- continue -%}
                    {%- endif -%}

                    <a href="#Media{{ media.id }}" data-offset="-25" data-focus-on-click class="Product__SlideshowNavDot {% if forloop.first %}is-selected{% endif %}"></a>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          {%- endif -%}
        {%- endcapture -%}

        {%- if section.settings.stack_images -%}
          {{- slideshow_nav -}}
        {%- endif -%}

        {%- capture flickity_options -%}
        {
          "prevNextButtons": false,
          "pageDots": false,
          "adaptiveHeight": true,
          "watchCSS": true,
          "dragThreshold": 8,
          "initialIndex": {{ initial_media_index }},
          "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
        }
        {%- endcapture -%}

        <div class="Product__Slideshow {% if section.settings.enable_image_zoom %}Product__Slideshow--zoomable{% endif %} Carousel" data-flickity-config='{{ flickity_options }}'>
          {{ slideshow_media }}
        </div>

        {%- comment -%}Add the "view in your space" button, which allows to show the product in customer's environment (if the device supports it){%- endcomment -%}
        {%- assign first_3d_model = product.media | where: 'media_type', 'model' | first -%}

        {%- if first_3d_model -%}
          <button class="Product__ViewInSpace Button Button--full" data-shopify-xr data-shopify-model3d-id="{{ first_3d_model.id }}" data-shopify-model3d-default-id="{{ first_3d_model.id }}" data-shopify-title="{{ product.title | escape }}" data-shopify-xr-hidden>
            {%- render 'icon', icon: 'media-view-in-space' -%} {{- 'product.general.view_in_space' | t -}}
          </button>
        {%- endif -%}

        {%- if media_count > 1 -%}
          {%- comment -%}
            IMPLEMENTATION NOTE: The reason we create ourselves our own UI instead of relying of the built-in feature of Flickity is that,
            since the media API, Shopify requires to add arrows next to the dot. Unfortunately this layout is not
            achievable easily using Flickity options only, so we have to run our own
          {%- endcomment -%}

          <div class="Product__SlideshowMobileNav {% if section.settings.stack_images or section.settings.show_thumbnails %}hidden-desk{% endif %}">
            <button class="Product__SlideshowNavArrow Product__SlideshowNavArrow--previous" type="button" data-direction="previous" aria-label="{{ 'general.accessibility.previous' | t }}">
              {% render 'icon' with 'media-arrow-left' %}
            </button>

            <div class="flickity-page-dots">
              {%- for i in (1..media_count) -%}
                <button type="button" class="dot {% if forloop.index0 == initial_media_index %}is-selected{% endif %}" data-index="{{ forloop.index0 }}"></button>
              {%- endfor -%}
            </div>

            <button class="Product__SlideshowNavArrow Product__SlideshowNavArrow--next" type="button" data-direction="next" aria-label="{{ 'general.accessibility.next' | t }}">
              {% render 'icon' with 'media-arrow-right' %}
            </button>
          </div>
        {%- endif -%}

        {%- unless section.settings.stack_images -%}
          {{- slideshow_nav -}}
        {%- endunless -%}
      </div>
    {%- endif -%}

    {%- capture product_aside -%}
      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      PRODUCT TABS
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- render 'product-tabs' -%}

      {%- comment -%}
      --------------------------------------------------------------------------------------------------------------------
      PRODUCT WEAR IT WITH

      We allow merchants to add a tag that looks like __with:product-handle to feature an additional product
      --------------------------------------------------------------------------------------------------------------------
      {%- endcomment -%}

      {%- for tag in product.tags -%}
        {%- if tag contains '__with' -%}
          {%- assign product_handle = tag | split: '__with:' | last -%}
          {%- assign associated_product = all_products[product_handle] -%}

          {%- if associated_product != empty -%}
            <div class="Section Section--spacingNormal">
              <header class="SectionHeader SectionHeader--center">
                <h3 class="SectionHeader__Heading Heading u-h4">{{ 'product.buy_it_with.title' | t }}</h3>
              </header>

              {% render 'product-item', product: associated_product, use_horizontal: true, show_labels: false, show_product_info: true, show_vendor: false, show_price_on_hover: false %}
            </div>

            {%- break -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}

    <div class="Product__InfoWrapper">
      <div class="Product__Info {% if media_count == 0 %}Product__Info--noGallery{% endif %}">
        <div class="Container">
          {%- render 'product-meta', product: product, show_description: true -%}

          {%- if product.template_suffix != 'coming-soon' -%}
            {%- render 'product-form', product: product -%}
          {%- endif -%}

          {%- if section.settings.description_below_add_to_cart -%}
            <nav aria-labelledby="flavor-label">
    <ul class="product-swatches-container tw-pt-3.5 tw--mb-2 md:tw--mb-3">

      
        
          
            <li>
              








  <a id="watermelon-lime--swatch" class="product-swatch   tw-block group" href="/products/watermelon-lime" tabindex="0" aria-label="go to Watermelon Lime page" data-transition-type="wave-under" data-color-overlay="#e3edd0" data-color-light="#e3edd0" data-color-medium="#85c062" data-color-dark="#ff8585" title="Watermelon Lime" data-handle="watermelon-lime" data-title="Watermelon Lime" data-sibling_product-id="7682917990559" data-variant-id="43069390880927" data-sku="OP-WL-12" data-available="true" data-tippy-content="Watermelon Lime">
    
    <div class="product-swatch-inner " style="background: #ff8585; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Olipop_WL_Can_front_1.png?v=1681743571&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--watermelon-lime">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-watermelon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="banana-cream--swatch" class="product-swatch product-swatch--active  tw-block group" aria-current="page" href="#" tabindex="0" aria-label="go to Banana Cream page" data-transition-type="wave-under" data-color-overlay="#fff7e5" data-color-light="#fff7e5" data-color-medium="#fee967" data-color-dark="#fddb02" title="Banana Cream" data-handle="banana-cream" data-title="Banana Cream" data-sibling_product-id="7401847029919" data-variant-id="42237531390111" data-sku="OP-BC-12" data-available="true" data-tippy-content="Banana Cream">
    
    <div class="product-swatch-inner " style="background: #fddb02; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Olipop_BC_Can_front_022323.png?v=1677178688&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--banana-cream">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-banana-cream tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="lemon-lime--swatch" class="product-swatch   tw-block group" href="/products/lemon-lime" tabindex="0" aria-label="go to Lemon Lime page" data-transition-type="wave-under" data-color-overlay="#d6e9a1" data-color-light="#d6e9a1" data-color-medium="#a9df71" data-color-dark="#f0d55e" title="Lemon Lime" data-handle="lemon-lime" data-title="Lemon Lime" data-sibling_product-id="7612616376479" data-variant-id="42897487429791" data-sku="OP-LL-12" data-available="true" data-tippy-content="Lemon Lime">
    
    <div class="product-swatch-inner " style="background: #f0d55e; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/lemon-lime-main-product.png?v=1673626373&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--lemon-lime">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-lemon-lime tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="cream-soda--swatch" class="product-swatch   tw-block group" href="/products/cream-soda" tabindex="0" aria-label="go to Cream Soda page" data-transition-type="wave-under" data-color-overlay="#b9e3ed" data-color-light="#b9e3ed" data-color-medium="#4ac1e0" data-color-dark="#f2ebe7" title="Cream Soda" data-handle="cream-soda" data-title="Cream Soda" data-sibling_product-id="7413651636383" data-variant-id="42284980666527" data-sku="OP-CS-12" data-available="true" data-tippy-content="Cream Soda">
    
    <div class="product-swatch-inner " style="background: #f2ebe7; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/cream-soda-main.png?v=1661437690&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--cream-soda">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-cream-soda tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="classic-root-beer--swatch" class="product-swatch   tw-block group" href="/products/classic-root-beer" tabindex="0" aria-label="go to Classic Root Beer page" data-transition-type="wave-under" data-color-overlay="#fceae0" data-color-light="#fceae0" data-color-medium="#f8d5c0" data-color-dark="#f4c0a0" title="Classic Root Beer" data-handle="classic-root-beer" data-title="Classic Root Beer" data-sibling_product-id="4350717460544" data-variant-id="31199447679040" data-sku="OP-RB-12" data-available="true" data-tippy-content="Classic Root Beer">
    
    <div class="product-swatch-inner " style="background: #f4c0a0; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy9.png?v=1670865479&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--classic-root-beer">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-classic-root-beer tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="vintage-cola--swatch" class="product-swatch   tw-block group" href="/products/vintage-cola" tabindex="0" aria-label="go to Vintage Cola page" data-transition-type="wave-under" data-color-overlay="#ffdbda" data-color-light="#ffdbda" data-color-medium="#ffb7b4" data-color-dark="#ff918f" title="Vintage Cola" data-handle="vintage-cola" data-title="Vintage Cola" data-sibling_product-id="3818023125062" data-variant-id="30315238260806" data-sku="OP-VC-12" data-available="true" data-tippy-content="Vintage Cola">
    
    <div class="product-swatch-inner " style="background: #ff918f; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy11.png?v=1670865246&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--vintage-cola">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-vintage-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="classic-grape--swatch" class="product-swatch   tw-block group" href="/products/classic-grape" tabindex="0" aria-label="go to Classic Grape page" data-transition-type="wave-under" data-color-overlay="#e9daf1" data-color-light="#e9daf1" data-color-medium="#e3d2ed" data-color-dark="#dac2e8" title="Classic Grape" data-handle="classic-grape" data-title="Classic Grape" data-sibling_product-id="6866436948127" data-variant-id="40304921542815" data-sku="OP-GR-12" data-available="true" data-tippy-content="Classic Grape">
    
    <div class="product-swatch-inner " style="background: #dac2e8; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/olipopcan-classicgrape-min.png?v=1671826077&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--classic-grape">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-classic-grape tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="cherry-cola--swatch" class="product-swatch   tw-block group" href="/products/cherry-cola" tabindex="0" aria-label="go to Cherry Cola page" data-transition-type="wave-under" data-color-overlay="#fcf4ef" data-color-light="#fcf4ef" data-color-medium="#ffada5" data-color-dark="#f9d7d0" title="Cherry Cola" data-handle="cherry-cola" data-title="Cherry Cola" data-sibling_product-id="7502145421471" data-variant-id="42533620777119" data-sku="OP-CHC-12" data-available="true" data-tippy-content="Cherry Cola">
    
    <div class="product-swatch-inner " style="background: #f9d7d0; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/cherry-cola-main.png?v=1661795259&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--cherry-cola">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-cherry-cola tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="tropical-punch--swatch" class="product-swatch   tw-block group" href="/products/tropical-punch" tabindex="0" aria-label="go to Tropical Punch page" data-transition-type="wave-under" data-color-overlay="#eaf5f6" data-color-light="#eaf5f6" data-color-medium="#cae6e8" data-color-dark="#7cd8d1" title="Tropical Punch" data-handle="tropical-punch" data-title="Tropical Punch" data-sibling_product-id="7323931246751" data-variant-id="41922380824735" data-sku="OP-TP-12" data-available="true" data-tippy-content="Tropical Punch">
    
    <div class="product-swatch-inner " style="background: #7cd8d1; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy7.png?v=1670865307&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--tropical-punch">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-tropical-punch tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="doctor-goodwin--swatch" class="product-swatch   tw-block group" href="/products/doctor-goodwin" tabindex="0" aria-label="go to Doctor Goodwin page" data-transition-type="wave-under" data-color-overlay="#fcf4ef" data-color-light="#fcf4ef" data-color-medium="#f2d6bd" data-color-dark="#e0a870" title="Doctor Goodwin" data-handle="doctor-goodwin" data-title="Doctor Goodwin" data-sibling_product-id="7413651832991" data-variant-id="42284985188511" data-sku="OP-DG-12" data-available="true" data-tippy-content="Doctor Goodwin">
    
    <div class="product-swatch-inner " style="background: #e0a870; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Olipop_DRGOODWIN_Can_FRONT_2.png?v=1658758423&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--doctor-goodwin">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-doctor-goodwin tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="strawberry-vanilla--swatch" class="product-swatch   tw-block group" href="/products/strawberry-vanilla" tabindex="0" aria-label="go to Strawberry Vanilla page" data-transition-type="wave-under" data-color-overlay="#ffe1d9" data-color-light="#ffe1d9" data-color-medium="#ffc3b3" data-color-dark="#ffa58d" title="Strawberry Vanilla" data-handle="strawberry-vanilla" data-title="Strawberry Vanilla" data-sibling_product-id="3818021027910" data-variant-id="30315220959302" data-sku="OP-SV-12" data-available="true" data-tippy-content="Strawberry Vanilla">
    
    <div class="product-swatch-inner " style="background: #ffa58d; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy10.png?v=1670865531&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--strawberry-vanilla">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-strawberry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="orange-squeeze--swatch" class="product-swatch   tw-block group" href="/products/orange-squeeze" tabindex="0" aria-label="go to Orange Squeeze page" data-transition-type="wave-under" data-color-overlay="#ffe8da" data-color-light="#ffe8da" data-color-medium="#ffd0b5" data-color-dark="#ffb88f" title="Orange Squeeze" data-handle="orange-squeeze" data-title="Orange Squeeze" data-sibling_product-id="5538631712927" data-variant-id="35768781111455" data-sku="OP-OS-12" data-available="true" data-tippy-content="Orange Squeeze">
    
    <div class="product-swatch-inner " style="background: #ffb88f; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy12.png?v=1670865184&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--orange-squeeze">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-orange-squeeze tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="cherry-vanilla--swatch" class="product-swatch   tw-block group" href="/products/cherry-vanilla" tabindex="0" aria-label="go to Cherry Vanilla page" data-transition-type="wave-under" data-color-overlay="#ffe0ea" data-color-light="#ffe0ea" data-color-medium="#ffc1d4" data-color-dark="#ffa2bf" title="Cherry Vanilla" data-handle="cherry-vanilla" data-title="Cherry Vanilla" data-sibling_product-id="4452820189248" data-variant-id="31667872464960" data-sku="OP-CV-12" data-available="true" data-tippy-content="Cherry Vanilla">
    
    <div class="product-swatch-inner " style="background: #ffa2bf; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/olipopcan-cherryvanilla-min.png?v=1671826144&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--cherry-vanilla">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-cherry-vanilla tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="ginger-lemon--swatch" class="product-swatch   tw-block group" href="/products/ginger-lemon" tabindex="0" aria-label="go to Ginger Lemon page" data-transition-type="wave-under" data-color-overlay="#fef3d4" data-color-light="#fef3d4" data-color-medium="#fee6a7" data-color-dark="#fdda79" title="Ginger Lemon" data-handle="ginger-lemon" data-title="Ginger Lemon" data-sibling_product-id="3818021912646" data-variant-id="30315236851782" data-sku="OP-GL-12" data-available="true" data-tippy-content="Ginger Lemon">
    
    <div class="product-swatch-inner " style="background: #fdda79; background-image: url(//cdn.shopify.com/s/files/1/0034/6610/0806/products/Artboard1copy14.png?v=1670955537&amp;width=80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--ginger-lemon">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-ginger-lemon tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
      
        
          
            <li>
              








  <a id="best-sellers-pack--swatch" class="product-swatch   tw-block group" href="/products/best-sellers-pack" tabindex="0" aria-label="go to Best Sellers Pack page" data-transition-type="wave-under" data-color-overlay="#deddf0" data-color-light="#deddf0" data-color-medium="#c9c7e9" data-color-dark="#bab7f1" title="Best Sellers Pack" data-handle="best-sellers-pack" data-title="Best Sellers Pack" data-sibling_product-id="7359020171423" data-variant-id="42069980414111" data-sku="OP-MIX5-12" data-available="true" data-tippy-content="Best Sellers Pack">
    
    <div class="product-swatch-inner product-swatch-pack" style="background: #bab7f1; background-image: url(https://cld.accentuate.io/7359020171423/1649770050344/bestsellers.png?v=0&amp;options=w_104,h_80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--best-sellers-pack">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-best-sellers-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="variety-12-pack--swatch" class="product-swatch   tw-block group" href="/products/variety-12-pack" tabindex="0" aria-label="go to The Sampler page" data-transition-type="wave-under" data-color-overlay="#e2f2e9" data-color-light="#e2f2e9" data-color-medium="#d6eddf" data-color-dark="#b4dcc3" title="The Sampler" data-handle="variety-12-pack" data-title="The Sampler" data-sibling_product-id="4364492341312" data-variant-id="31294500864064" data-sku="OP-VAR-12-6" data-available="true" data-tippy-content="The Sampler">
    
    <div class="product-swatch-inner product-swatch-pack" style="background: #b4dcc3; background-image: url(https://images.accentuate.io/?image=https%3A%2F%2Fcdn.accentuate.io%2F4364492341312%2F1632216910946%2Fthe-variety-12-pack.png%3Fv%3D0&amp;c_options=w_104,h_80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--variety-12-pack">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-variety-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="soda-lovers-12-pack--swatch" class="product-swatch   tw-block group" href="/products/soda-lovers-12-pack" tabindex="0" aria-label="go to Old School Classics page" data-transition-type="wave-under" data-color-overlay="#f7e8e7" data-color-light="#f7e8e7" data-color-medium="#efd1cf" data-color-dark="#e6bcb9" title="Old School Classics" data-handle="soda-lovers-12-pack" data-title="Old School Classics" data-sibling_product-id="6726959562911" data-variant-id="40043138941087" data-sku="OP-MIX2-12" data-available="true" data-tippy-content="Old School Classics">
    
    <div class="product-swatch-inner product-swatch-pack" style="background: #e6bcb9; background-image: url(https://images.accentuate.io/?image=https%3A%2F%2Fcdn.accentuate.io%2F6726959562911%2F1632217332464%2Fclassics-pack.png%3Fv%3D0&amp;c_options=w_104,h_80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--soda-lovers-12-pack">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-soda-lovers-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="fruity-variety-pack--swatch" class="product-swatch   tw-block group" href="/products/fruity-variety-pack" tabindex="0" aria-label="go to Fruity Variety Pack page" data-transition-type="wave-under" data-color-overlay="#fbe3dd" data-color-light="#fbe3dd" data-color-medium="#f9d7cf" data-color-dark="#f3b5a8" title="Fruity Variety Pack" data-handle="fruity-variety-pack" data-title="Fruity Variety Pack" data-sibling_product-id="7058876989599" data-variant-id="41251909304479" data-sku="OP-MIX3-12" data-available="true" data-tippy-content="Fruity Variety Pack">
    
    <div class="product-swatch-inner product-swatch-pack" style="background: #f3b5a8; background-image: url(https://cld.accentuate.io/7058876989599/1634662693811/Fruitypack.png?v=0&amp;options=w_104,h_80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--fruity-variety-pack">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-fruity-variety-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      
        
          
            <li>
              








  <a id="pink-pop-12-pack--swatch" class="product-swatch   tw-block group" href="/products/pink-pop-12-pack" tabindex="0" aria-label="go to Pink Pops page" data-transition-type="wave-under" data-color-overlay="#ffeae8" data-color-light="#ffeae8" data-color-medium="#ffd5d1" data-color-dark="#ffb2ab" title="Pink Pops" data-handle="pink-pop-12-pack" data-title="Pink Pops" data-sibling_product-id="6130071863455" data-variant-id="39945455599775" data-sku="OP-MIX1-12" data-available="true" data-tippy-content="Pink Pops">
    
    <div class="product-swatch-inner product-swatch-pack" style="background: #ffb2ab; background-image: url(https://images.accentuate.io/?image=https%3A%2F%2Fcdn.accentuate.io%2F6130071863455%2F1632217272799%2Fpink-pop-pack.png%3Fv%3D0&amp;c_options=w_104,h_80); z-index: 10;"></div>
    <span class="swatches-bubbles swatches-bubbles--pink-pop-12-pack">
      
        <span class="swatches-bubble swatches-bubble-1 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-2 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-3 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-4 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-5 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-6 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
        <span class="swatches-bubble swatches-bubble-7 primary-color-pink-pop-12-pack tw-pointer-events-none" style="z-index: 1;"></span>
      
    </span>
  </a>

            </li>
        
      

    </ul>
  </nav>
            <div class="ProductMeta__Description">
              <div class="Rte">
                {%- comment -%}
                We have figured out that some merchants were copy-pasting huge chunk of code into the product description,
                which can make the theme crashes if it contains some special attributes used by the theme. We therefore make sure to process this
                {%- endcomment -%}

                {{ product.description | replace: 'data-section-type', 'data-section-type-placeholder' }}
              </div>

              {%- if section.settings.show_share_buttons -%}
                <div class="ProductMeta__ShareButtons hidden-pocket">
                  <span class="ProductMeta__ShareTitle Heading Text--subdued u-h7">{{ 'product.form.share' | t }}</span>

                  {%- assign share_url = shop.url | append: product.url -%}
                  {%- assign twitter_text = product.title -%}
                  {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
                  {%- assign pinterest_image = product.featured_image | img_url: 'large' | prepend: 'https:' -%}

                  <div class="ProductMeta__ShareList Text--subdued">
                    <a class="ProductMeta__ShareItem" href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="Facebook">{%- render 'icon' with 'facebook' -%}</a>
                    <a class="ProductMeta__ShareItem" href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="Twitter">{%- render 'icon' with 'twitter' -%}</a>
                    <a class="ProductMeta__ShareItem" href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="Pinterest">{%- render 'icon' with 'pinterest' -%}</a>
                  </div>
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}

          {%- if section.settings.stack_images and product_aside != blank and media_count > 0 -%}
            <div class="Product__QuickNav hidden-pocket">
              <div class="Product__QuickNavWrapper">
                <a href="#ProductAside" class="Heading Link Link--secondary u-h7">{{ 'product.form.view_info' | t }} {% render 'icon' with 'select-arrow-right' %}</a>
                <a href="#ProductGallery" class="Heading Link Link--secondary u-h7">{{ 'product.form.view_images' | t }} {% render 'icon' with 'select-arrow-right' %}</a>
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>

    {%- if product_aside != blank -%}
      <div class="Product__Aside">
        <span id="ProductAside" class="Anchor"></span>
        {{- product_aside -}}
      </div>
    {%- endif -%}
  </div>
</section>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  <div class="Container">
    {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
  </div>
{% comment %}End automatically added Judge.me widget{% endcomment %}


{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
FEATURED IMAGE

We allow merchants to use one image as a "featured image" by adding the alt tag "featured"
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- for media in product.media -%}
  {%- if media.alt == 'featured' -%}
    {%- assign desk_featured_media = media.preview_image -%}
  {%- endif -%}

  {%- if media.alt == 'featured mobile' -%}
    {%- assign mobile_featured_media = media.preview_image -%}
  {%- endif -%}
{%- endfor -%}

{%- if desk_featured_media or mobile_featured_media -%}
  {%- assign mobile_featured_media = mobile_featured_media | default: desk_featured_media -%}
  {%- assign desk_featured_media = desk_featured_media | default: mobile_featured_media -%}

  <div class="Product__FeatureImageWrapper" style="background: url({{ desk_featured_media | img_url: '1x1', format: 'jpg' }})">
    <div class="Product__FeatureImage Product__FeatureImage--{{ section.settings.featured_image_size }} Image--lazyLoad Image--zoomOut hide-no-js" data-expand="-25" data-bgset="{{ mobile_featured_media | img_url: 'x850' }} [(max-width: 640px)] | {{ desk_featured_media | img_url: '1500x' }}"></div>

    <noscript>
      <div class="Product__FeatureImage Product__FeatureImage--{{ section.settings.featured_image_size }}" style="background-image: url({{ desk_featured_media | img_url: '1500x' }})"></div>
    </noscript>
  </div>

  <style>
    #shopify-section-{{ section.id }} + .shopify-section--bordered {
      border-top: 0;
    }
  </style>
{%- else -%}
  <style>
    /* This is a bit hacky but allows to circumvent the complete independency of section (as next section included in the page does not know anything about this page) */

    @media screen and (max-width: 640px) {
      #shopify-section-{{ section.id }} + .shopify-section--bordered {
        border-top: 0;
      }

      #shopify-section-{{ section.id }} + .shopify-section--bordered > .Section {
        padding-top: 0;
      }
    }
  </style>
{%- endif -%}

{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
PHOTO SWIPE

This is the root container for the zoom functionality. Must not be removed, as order element is important.
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

{%- if section.settings.enable_image_zoom -%}
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. Do not remove as content is dynamically added -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Main UI bar -->
      <div class="pswp__ui pswp__ui--hidden">
        <button class="pswp__button pswp__button--prev RoundButton" data-animate-left title="{{ 'product.slideshow.previous' | t }}">{% render 'icon' with 'arrow-left' %}</button>
        <button class="pswp__button pswp__button--close RoundButton RoundButton--large" data-animate-bottom title="{{ 'product.slideshow.close' | t }}">{% render 'icon' with 'close' %}</button>
        <button class="pswp__button pswp__button--next RoundButton" data-animate-right title="{{ 'product.slideshow.next' | t }}">{% render 'icon' with 'arrow-right' %}</button>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Product page",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "Show SKU",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_taxes_included",
      "label": "Show price taxes notice",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "description_below_add_to_cart",
      "label": "Description below add to cart",
      "default": false
    },
    {
      "type": "select",
      "id": "selector_mode",
      "label": "Selector type",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "default": false,
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch)."
    },
    {
      "type": "checkbox",
      "id": "show_color_carousel",
      "label": "Show color carousel",
      "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_quantity",
      "label": "Show inventory quantity",
      "info": "Make sure that your inventory is tracked. [Learn more](https://help.shopify.com/manual/products/inventory#set-up-inventory-tracking).",
      "default": false
    },
    {
      "type": "range",
      "id": "inventory_quantity_threshold",
      "label": "Inventory quantity threshold",
      "info": "Only show inventory quantity if below threshold. Choose 0 to always show.",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "show_price_in_button",
      "label": "Show price in add to cart button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_pickup_availability",
      "label": "Show local pickup availability",
      "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup#show-pickup-availability-to-your-customers)",
      "default": false
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill screen"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "stack_images",
      "label": "Stack images on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails",
      "label": "Show thumbnails on desktop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Tabs"
    },
    {
      "type": "page",
      "id": "tab_page_1_handle",
      "label": "First page"
    },
    {
      "type": "page",
      "id": "tab_page_2_handle",
      "label": "Second page"
    },
    {
      "type": "paragraph",
      "content": "The theme also allows you to add specific tabs for a given product only. [Learn more about this feature](http://support.maestrooo.com/article/83-product-adding-different-tabs-per-product)."
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "paragraph",
      "content": "You need to install [Shopify's free Product Reviews](https://apps.shopify.com/product-reviews) app before enabling this option."
    },
    {
      "type": "checkbox",
      "id": "reviews_enabled",
      "label": "Enable",
      "default": false
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "paragraph",
      "content": "You can highlight an image after product tabs by adding the ALT tag \"featured\" to a given image. [Learn more](http://support.maestrooo.com/article/152-product-highlight-a-featured-image)."
    },
    {
      "type": "select",
      "id": "featured_image_size",
      "label": "Section size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "large"
    }
  ]
}
{% endschema %}